* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
    color: black;
}

.content-wrap {
    margin: 0 100px;
}

/* start of navbar*/
.navbar-section {
    top: 0;
    position: fixed;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

.sallybetz {
    font-size: 25px;
}

.navbar-link {
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

/* end of navbar*/
/* start of home*/

.home-background {
    height: 100vh;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.home-box {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
}

.home-text {
    width: 50%;
    padding-top: 10px;
}

.hi {
    font-size: 55px;
}

.sally-betz {
    font-size: 85px;
    padding-top: 10px;
}

.email-dev {
    font-size: 45px;
    padding-top: 10px;
}

.small-bio {
    padding-top: 10px;
    width: 100%;
    font-size: 24px;
    
}

a.cv {
    text-decoration: none;
    padding-top: 20px;
   display: block;
}

.sal-pic {
    max-width: 400px;
    width: 100%;
}

/* end of home*/
/* start of skills*/
.icon-box img {
    width: 200px;
    height: 200px;
}



.skills-box {
    padding-top: 50px;
}

@media (max-width: 1600px){
    
}

@media (max-width: 1040px){
    .sal-pic {
        max-width: 300px;
    }
    .hi {
        font-size: 35px;
    }
    
    .sally-betz {
        font-size: 65px;
    }
    
    .email-dev {
        font-size: 35px;
        padding-top: 10px;
    }
    
    .small-bio {
        width: 100%;
        font-size: 18px;
    }
    .home-text {
        width: 100%;
    }
    
}

@media (max-width: 768px) {
    
    .navbar-link {
        padding-left: 5px;
        font-size: 14px;
    }
    .sallybetz {
        font-size: 18px;
    }
    
    .sal-pic {
        max-width: 200px;
    }
    
}

@media (min-width: 1400px) {

}