* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #49B6FF;
    background-size: cover;
}

.siteContainer {
    width: 95%;
    margin: auto;
    background-color: #779BE7;
}

.wrapper {
    width: 95%;
    margin: auto;
    background-color: #a480CF;
}

.container {
    background-color: #D264B6;
    width: 95%;
    margin: auto;
}

.head ul {
    list-style: none;
    margin: auto;
    background-color: #ff499E;
    padding: 30px;
    font-size: 24px;
    display: flex;
    justify-content: end;
    width: 90%;
}

.head ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    
}

.head ul li {
    display: inline-block;
    
}

.head ul li::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #fff;
    transition: 1s;

}

.head ul li:hover:after {
    width: 100%;
}

.space {
    height: 1000px;
}